/*

---01 TYPOGRAPHY SYSTEM

- FONT SIZE SYSTEM (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98

- Font weights
Defaults: 400

- Line height
Defaults: 1
      
---02 COLORS

- Primary: #e67e22
- Tints: 
- Shades: 
- Accents: 
- Greys: #555

---03 IMAGES

---04 ICONS

---05 SHADOWS

---06 BORDER-RADIUS

---07 WHITESPACE

- SPACING SYSTEM (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128

*/

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  /* 1rem = 10px */
  /* 10px / 16 px = 62.5% */
  /* 用户浏览器字体大小的百分比 */
  font-size: 62.5%;
}

body {
  font-family: sans-serif;
  line-height: 1;
  font-weight: 400;
  color: #555;
}

.hero {
  max-width: 130rem;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.hero-img {
  max-width: 100%;
}
